@media screen and (max-device-width: 800pt) {
  body .free-materials {
    margin: 70pt 40pt;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    gap: 40px 15px;
    grid-template-areas:
      "left-block"
      "video-block"
      "video-block-two" !important;

    .video-block-width {
      height: fit-content;
      min-width: auto;
    }
    iframe {
      min-height: 170pt;
    }
  }
}

.free-materials {
  margin: 70pt 70pt;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  gap: 15px;
  grid-template-areas: "left-block video-block video-block-two";

  .left-block {
    grid-area: left-block;
    margin-right: 35px;

    .bonus {
      display: flex;
      justify-content: flex-end;

      div {
        background-color: #e5baa2;
        width: max-content;
        font-family: AkrobatThin;
        font-size: 18px;
        padding: 3px 24px 6px;
      }
    }

    .materials-button {
      display: inline-flex;
      text-decoration: underline;
      margin-top: 20px;

      div {
        margin-right: 20px;
        align-self: flex-end;
        font-size: 18px;
      }
    }

    .text {
      font-family: AkrobatThin;
      font-size: 18px;
      line-height: 22px;
    }
  }

  .video-block-width {
    position: relative;
    width: 100%;
    min-width: 230pt;
    height: 263pt;
    z-index: 5;
    transition: 0.4s ease;

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    .displayOn {
      display: block;
      width: 65%;
      height: 70%;
      z-index: 7;
    }

    iframe {
      display: none;
      width: 100%;
      height: inherit;
      z-index: 4;
    }
  }

  .video-block {
    background-color: blanchedalmond;
    grid-area: video-block;
  }
  .video-block-two {
    background-color: blanchedalmond;
    grid-area: video-block-two;
  }
  .video-block-modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #000000bd !important;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 7;
  }

}
