.course-cards-wrapper {
  height: max-content;
  // position: relative;
  
}
.course-cards {

  display: flex;
  font-size: 18pt;
  flex-wrap: wrap;
  grid-gap: 20px;
  gap: 20px;
  justify-content: center;

  .cardFree {
    background-color: #e5baa2 !important;
  }

  @for $i from 1 through 12 {
    .card#{$i} {
      position: relative;
      min-width: 180px;
      width: 17vw;
      height: max-content;
      max-height: 150px;
      border: 1px solid #9a593d;
      grid-area: col#{$i};
      background-color: white;
      overflow: hidden;
      transition: 0.6s ease-out;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      .title-group {
        font-family: AcrobatThin;
        font-size: 18px;
        justify-content: center;
        margin: 1em;

        .title-text {
          display: inline-flex;

          .bold {
            font-family: AcrobatThin;
            margin-right: 10px;
          }

          .thin {
            font-family: AcrobatExtraLight;
            transition: 0.8s ease-out;
          }
        }

        .free {
          font-weight: bold;
          color: white;
          float: right;
        }
      }

      .detail-info {
        font-family: AcrobatExtraLight;
        font-size: 13px;
        top: 20px;
        height: 100%;
        width: 100%;
        margin-top: 40%;
        opacity: 0;
        transition: 0.6s ease-out;

        div {
          font-family: Prata;
          font-size: 14px;
          margin: 10px 10px 10px 15px;
        }

        ul {
          margin: 10px 10px 10px 30px;
        }
        .link {
          height: 50pt;
          font-size: 13pt;

          a {
            color: black;
            text-decoration: none;
            transition: 0.2s ease;

            &:hover {
              color: #e5baa2;
            }
          }
        }
      }

      &:hover .title-group .title-text .thin {
        font-weight: 800;
      }

      &:hover .detail-info {
        height: max-content;
        opacity: 1;
        margin-top: 0;
        z-index: 5;
      }

      &:hover {
        transform: scale(1.1);
        z-index: 2;
        height: fit-content;
        max-height: 500px;
        box-shadow: 0 4px 20px #00000052;
      }
    }
  }
}
