.cards-review {
  background: #ffffff;
  border: 0.5px solid #e5baa2;
  padding: 32px;
  transition: 4s ease;

  .cards {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

    .photo-circle {
      border-radius: 50%;
    }

    .logo {
      width: 124px;
      height: 124px;
    }
    div {
      display: block;
      font-family: AkrobatRegular;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;

      .inst-block {
        display: flex;
        align-items: center;

        span {
          margin-left: 13px;
        }
      }

      &:last-child {
        margin-top: 11px;
        align-self: center;
      }
    }
  }

  .text-block {
    font-family: AcrobatExtraLight;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    div {
      margin-bottom: 20px;
    }
  }
}
@for $i from 1 through 2 {
  .fade#{$i}{
    animation: fadeCard#{$i} 0.8s;
  }
  @keyframes fadeCard#{$i} {
    0%, 100%{
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}