@media screen and (max-device-width: 800pt) {
  body .header {
    margin: 20pt 40pt;
    display: flex !important;
    flex-wrap: wrap;
  }
}

.header {
  margin: 20pt 70pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
