@media screen and (max-device-width: 800pt) {
  body .header-nav {
    opacity: 0;
    height: 0;
    display: block;
    order: 3;
    width: 100%;
    transition: 0.3s ease;

    ul {
      // opacity: 0;
      overflow: hidden;
      display: flex;
      justify-content: center;
      flex-direction: column;

      li {
        &:last-child {
          display: block;
        }
      }
    }
  }
  body .header-nav.display {
    opacity: 1;
    transition: 0.3s ease;
    height: 200px;
  }
  body .header-nav.opacity {
    opacity: 0;
    height: 0px;
  }
}

.header-nav {
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: block2;
  height: 0%;

  li {
    display: inline-block;
    position: relative;

    .navlink {
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    .border {
      position: absolute;
      bottom: 0;
      width: 0px;
      height: 1.5px;
      transition: 0.5s ease;
      border-bottom: 0px solid #ffffff00;
    }
    &:hover .border {
      width: 100%;
      border-bottom: 1.5px solid #9a593d;
    }
    &:last-child {
      display: none;
      z-index: 5;
    }
  }
}
