@media screen and (max-device-width: 800pt) {
    body .tarrifs {
        margin: 70pt 40pt;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        grid-template-areas:
            "block-one block-one"
            "block-two block-three";


    .block-one {
        height: 100%;
        .text {
            width: auto;
        }
        .post-icon {
            display: none;
        }
        .arrow-line {
            display: none;
        }
    }
    .block-two, .block-three {
        height: 200pt;
    }
    }
}

.tarrifs {
    margin: 60pt 70pt;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-areas:
        "block-one block-two block-three";

    .block-one {
        grid-area: block-one;
    }
    .block-two {
        color: white;
        background-color: #9e83745d;
        font-size: medium;
        grid-area: block-two;
        transition: 0.4s ease;
        

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.404) 6px 5px 6px 0px;
        }

        img {
            position: absolute;
            z-index: -1;
            top: 0;
        }
    }
    .block-three {
        color: white;
        background-color: #9e83745d;
        font-size: medium;
        grid-area: block-three;
        transition: 0.4s ease;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.404) 6px 5px 6px 0px;
        }

        img {
            position: absolute;
            z-index: -1;
            bottom: 0;
        }
    }

    .block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 454px;
        font-family: AcrobatExtraLight;
        font-size: 24px;
        

        .child-block {
            margin: 36px 0;
            font-size: 20pt;

            &:last-child {
                display: inline-flex;
                align-items: center;
                
                span {
                    font-size: 18px;
                    line-height: 24px;
                    margin: 0 17px;                    
                }
            }
        }
        .child-block-price {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40pt;
            width: 40pt;
            border-radius: 50%;
            font-size: 20pt;
            transition: 0.5s;
        }    

        .child-block-text {
            opacity: 0;
            margin: 0 10px;
            transition: 0.5s;
        }

        &:hover .child-block-price {
            color: black;
            background-color: white;
            transform: scale(1.3);
        }
        &:hover .child-block-text {
            opacity: 1;            
        }
    }

    .block-one {
        display: block;
        background-color: #FFFFFF;

        .text {
            width: 273px;
            margin: 0 0 80px 0;
            font-family: AcrobatExtraLight;
            font-size: 20px;
            line-height: 24px;
        }

        .post-icon {
            float: right;
            margin: 35px 0 0 0;
        }
    }
}